cache/[^.]*/
THEME/[^.]*/
installer/bypass*
empty_app/
deals_images/
system/config/config.php
system/config/database.php
system/config/route.php
doc/
upload/[^.]*/
system/wity.log
deals_images/52.jpeg
deals_images/WP_20130913_17_41_25_1_Smart.jpeg
