<div class="wity-app wity-app-user wity-action-listing">
	<div class="row">
		<div class="col-md-12">		
			<div class="alert fade in" style="display:none"></div>	
			<div class="modal fade" id="confirmation_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{lang confirmation_title}</h4>
				  </div>
				  <div class="modal-body">
					{lang confirmation_body}
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
					<button type="button" id="confirm" class="btn btn-primary" data-dismiss="modal">{lang confirm}</button>
				  </div>
				</div><!-- /.modal-content -->
			</div>			
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="1%">#</th>
						<th><a href="/m/admin/merchantmanagement/listing/firstname-{$firstname_sort}/"><i class="{$firstname_class}"></i> {lang buyer_name}</a></th>
						<th><a href="/m/admin/merchantmanagement/listing/deal_name-{$deal_name_sort}/"><i class="{$deal_name_class}"></i> {lang deal_name}</a></th>
						<th><a href="/m/admin/merchantmanagement/listing/name-{$name_sort}/"><i class="{$name_class}"></i> {lang merchant_name}</a></th>
						<th width="20%"><a href="/m/admin/merchantmanagement/listing/email-{$email_sort}/"><i class="{$email_class}"></i> {lang email}</a></th>
						<th width="15%"><a href="/m/admin/merchantmanagement/listing/receipt_id-{$receipt_id_sort}/{$subURL}"><i class="{$receipt_id_class}"></i> {lang receipt_id}</a></th>
						<th width="17%"><a href="/m/admin/merchantmanagement/listing/code_used-{$code_used_sort}/{$subURL}"><i class="{$code_used_class}"></i> {lang code_used}</a></th>
						<th width="17%"><a href="/m/admin/merchantmanagement/listing/receipt_id-{$receipt_id}/{$subURL}"><i class="{$last_activity_class}"></i> {lang payment_date}</a></th>
					</tr>
				</thead>
				<tbody>
					{for $count, $transaction in $transactions}
					<tr>
						<td>{$transaction.id_transaction}</td>
						<td><strong>
							{$transaction.firstname} {$transaction.lastname}
						</strong></td>
						<td><strong>
							{$transaction.deal_name}
						</strong></td>
						<td>
							{$transaction.name}
						</td>
						<td>
							{$transaction.email}
						</td>
						<td>
							{$transaction.receipt_id}
						</td>
						<td>
							{if {$transaction.code_used}}
								Yes
							{else}
								No
							{/if}
						</td>
						<td>{$transaction.created_date}</td>
					</tr>
					{/for}
				</tbody>
			</table>
			{$pagination}
		</div>
	</div>

	<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_delete" aria-hidden="true"></div>
	
</div>
</div>