<div id="test"></div>
<div class="container">
    <div class="well special-well hide">
        <ul class="list-unstyled" data-wity-form-summary="witycms">
            <!-- Tab list hidden here -->
        </ul>
    </div>
    <div class="col-md-7">
        <div class="well special-well">
            <div class="tab-content" data-wity-form-content="witycms">
                <!-- Form here-->
            </div>
        </div>
    </div>
    <div class="row" data-wity-form-debug="witycms"></div>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-wity-form-submit="witycms" autocomplete="off" data-loading-text="Loading..." data-remaining-text="Fill in the fields" data-error-text="Fatal Error !">Here we go !</button>
</div>