<div class="wity-app wity-app-user wity-action-listing">
	<div class="row">
		<div class="col-md-12">		
			<div class="alert fade in" style="display:none"></div>	
			<div class="modal fade" id="confirmation_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{lang confirmation_title}</h4>
				  </div>
				  <div class="modal-body">
					{lang confirmation_body}
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
					<button type="button" id="confirm" class="btn btn-primary" data-dismiss="modal">{lang confirm}</button>
				  </div>
				</div><!-- /.modal-content -->
			</div>			
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="1%">#</th>
						<th width="15%"><a href="/admin/merchantmanagement/listing/nickname-{$nickname_sort}/"><i class="{$nickname_class}"></i> {lang nickname}</a></th>
						<th><a href="/admin/merchantmanagement/listing/name-{$name_sort}/"><i class="{$name_class}"></i> {lang name}</a></th>
						<th width="20%"><a href="/admin/merchantmanagement/listing/email-{$email_sort}/"><i class="{$email_class}"></i> {lang email}</a></th>
						<th width="15%">Password</th>
						<th colspan="2" width="17%"><a href="/admin/merchantmanagement/listing/last_activity-{$last_activity_sort}/{$subURL}"><i class="{$last_activity_class}"></i> {lang last_connection}</a></th>
					</tr>
				</thead>
				<tbody>
					{for $count, $user in $users}
					<tr>
						<td><span data-toggle="collapse" data-target="#row{$user.id}" class="black accordion-toggle" title="{lang edit}"><i class="glyphicon glyphicon-plus"></i></span></td>
						<td><strong>
							<a href="#" class="editable-data" data-name="nickname" data-type="text" data-pk="{$user.id_merchant}" data-url="/admin/merchantmanagement/edit/"  data-verif="required">	
							{$user.nickname}
							</a>
						</strong></td>
						<td><strong>
							<a href="#" class="editable-data" data-name="name" data-type="text" data-pk="{$user.id_merchant}" data-url="/admin/merchantmanagement/edit/"  data-verif="required">	
							{$user.name}
							</a>
						</strong></td>
						<td>
							<a href="#" class="editable-data" data-name="email" data-type="text" data-pk="{$user.id_merchant}" data-url="/admin/merchantmanagement/edit/"  data-verif="email">	
							{$user.email}
							</a>
						</td>
						<td>
							<a href="#" class="editable-password" data-type="password" data-name="password"  data-pk="{$user.id_merchant}" data-url="/admin/merchantmanagement/edit/" data-verif="password"></a>
						</td>
						<td>{$user.last_activity}</td>
						<td>
							{if {$user.id} != $_SESSION['userid']}<span class="delete_merchant" data-url="/admin/merchantmanagement/delete/" data-name="merchant" data-pk="{$user.id_merchant}"><i class="glyphicon glyphicon-trash"></i></span>{/if}
							
						</td>				
					</tr>
					<tr>
						<td colspan="6" class="hiddenRow">
							<div class="row accordian-body collapse" id="row{$user.id}" style="background-color:#fff"> 
								<div class="col-md-7">
									<h4 style="text-align:center">Addresses</h4>
									<div class="alert fade in" style="display:none"></div>
									<table class="table table-striped table-hover">
										<thead>
											<tr>
												<th width="20%"><i class="{$id_class}"></i> {lang name}</th>
												<th width="30%"><i class="{$nickname_class}"></i> {lang address}</th>
												<th width="30%"><i class="{$nickname_class}"></i> {lang opening_hours}</th>
												<th colspan="2" width="20%"><i class="{$nickname_class}"></i> {lang tel}</th>
											</tr>
										</thead>						
										<tbody>
											{for $count, $address in $user.addresses}	
											<tr>
												<td><b>
												<a href="#" class="editable-data" data-name="address_name" data-type="text" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.address_name}</a>
												</b></td>
												<td><a href="#" class="editable-data" data-name="address" data-type="textarea" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.address}</a>
												</td>
												<td><a href="#" class="editable-data" data-name="opening_hours" data-type="textarea" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.opening_hours}</a></td>
												<td><a href="#" class="editable-data" data-name="tel" data-type="text" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.tel}</a></td>
												<td><span class="delete_row" data-url="/admin/merchantmanagement/delete/" data-name="address" data-pk="{$address.id_address}"><i class="glyphicon glyphicon-trash"></i></span></td>
											</tr>
											{/for}
											<tr class="new-row" data-name="address" data-id="{$user.id}">
												<td>
													<b>
													<a href="#" class="add" data-name="address_name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
													</b>
												</td>
												<td>
													<a href="#" class="add" data-name="address" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
												</td>
												<td>
													<a href="#" class="add" data-name="opening_hours" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
												</td>
												<td>
													<a href="#" class="add" data-name="tel" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
												</td>
												<td><span class="delete_row hide" data-url="/admin/merchantmanagement/delete/" data-name="address"><i class="glyphicon glyphicon-trash"></i></span>
													<span class="submit" data-url="/admin/merchantmanagement/add/address/{$user.id_merchant}"><i class="glyphicon glyphicon-ok"></i></span>
												</td>
											</tr>	
											</tbody>
									</table>
								</div>
								<div class="col-md-5">
									<h4 style="text-align:center">Emails</h4>
									<div class="alert fade in" style="display:none"></div>
									<table class="table table-striped table-hover" id="table_email">
										<thead>
											<tr>
												<th width="30%"><i class="{$nickname_class}"></i> {lang name}</th>
												<th width="70%" colspan="2"><i class="{$nickname_class}"></i> {lang email}</th>
											</tr>
										</thead>						
										<tbody>
											{for $count, $mail in $user.contact_email}	
											<tr>
												<td>
													<a href="#" class="editable-data" data-name="contacts_name" data-type="text" data-pk="{$mail.id_email}" data-url="/admin/merchantmanagement/edit/">
														{$mail.email_name}
													</a>
												</td>
												<td>
													<a href="#" class="editable-data" data-name="contacts_email" data-type="text" data-pk="{$mail.id_email}" data-url="/admin/merchantmanagement/edit/">	
														{$mail.email}
													</a>
												</td>
												<td>
													<span class="delete_row" data-url="/admin/merchantmanagement/delete/" data-name="email" data-pk="{$mail.id_email}"><i class="glyphicon glyphicon-trash"></i></span>
												</td>
											</tr>
											{/for}	
											<tr class="new-row" data-name="email" data-id="{$user.id}">
												<td>
													<a href="#" class="add" data-name="contacts_name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required">
													</a>
												</td>
												<td>
													<a href="#" class="add" data-name="contacts_email" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="email">	
													</a>
												</td>
												<td>
													<span class="delete_row hide" data-url="/admin/merchantmanagement/delete/" data-name="email"><i class="glyphicon glyphicon-trash"></i></span>
													<span class="submit" data-url="/admin/merchantmanagement/add/contacts/{$user.id_merchant}"><i class="glyphicon glyphicon-ok"></i></span>
												</td>
											</tr>	
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
					{/for}
					<tr class="new-row" data-name="merchant" data-id="{$user.id}" id="row_new_email_{$user.id}">
						<td><span data-toggle="collapse" class="black accordion-toggle" title="{lang edit}"><i class="glyphicon glyphicon-plus"></i></span></td>
						<td><strong>
							<a href="#" class="add" data-name="nickname" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required">	
							</a>
						</strong></td>
						<td><strong>
							<a href="#" class="add" data-name="name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required">	
							</a>
						</strong></td>
						<td>
							<a href="#" class="add" data-name="email" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="email">	
							</a>
						</td>
						<td>
							<a href="#" class="add" data-name="password" data-type="password" data-url="/admin/merchantmanagement/edit/" data-verif="password"></a>
						</td>
						<td></td>
						<td>
							<span class="delete_merchant hide" data-url="/admin/merchantmanagement/delete/" data-name="merchant" data-pk="{$user.id}"><i class="glyphicon glyphicon-trash"></i></span>
							<span class="submit" data-url="/admin/merchantmanagement/add/merchant/"><i class="glyphicon glyphicon-ok"></i></span>							
						</td>
					</tr>
					<tr class="new-row-collapse">
						<td colspan="6" class="hiddenRow">
							<div class="row accordian-body collapse" style="background-color:#fff"> 
								<div class="col-md-7">
									<h4 style="text-align:center">Addresses</h4>
									<div class="alert fade in" style="display:none"></div>
									<table class="table table-striped table-hover">
										<thead>
											<tr>
												<th width="20%"><i class="{$id_class}"></i> {lang name}</th>
												<th width="30%"><i class="{$nickname_class}"></i> {lang address}</th>
												<th width="30%"><i class="{$nickname_class}"></i> {lang opening_hours}</th>
												<th colspan="2" width="20%"><i class="{$nickname_class}"></i> {lang tel}</th>
											</tr>
										</thead>						
										<tbody>
											<tr class="new-row" data-name="address" data-id="{$user.id}">
												<td>
													<b>
													<a href="#" class="add" data-name="address_name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
													</b>
												</td>
												<td>
													<a href="#" class="add" data-name="address" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
												</td>
												<td>
													<a href="#" class="add" data-name="opening_hours" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
												</td>
												<td>
													<a href="#" class="add" data-name="tel" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
												</td>
												<td><span class="delete_row hide" data-url="/admin/merchantmanagement/delete/" data-name="address"><i class="glyphicon glyphicon-trash"></i></span>
													<span class="submit" data-url="/admin/merchantmanagement/add/address/"><i class="glyphicon glyphicon-ok"></i></span>
												</td>
											</tr>	
											</tbody>
									</table>
								</div>
								<div class="col-md-5">
									<h4 style="text-align:center">Emails</h4>
									<div class="alert fade in" style="display:none"></div>
									<table class="table table-striped table-hover" id="table_email">
										<thead>
											<tr>
												<th width="30%"><i class="{$nickname_class}"></i> {lang name}</th>
												<th width="70%" colspan="2"><i class="{$nickname_class}"></i> {lang email}</th>
											</tr>
										</thead>						
										<tbody>	
											<tr class="new-row" data-name="email" data-id="{$user.id}">
												<td>
													<a href="#" class="add" data-name="contacts_name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required">
													</a>
												</td>
												<td>
													<a href="#" class="add" data-name="contacts_email" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="email">	
													</a>
												</td>
												<td>
													<span class="delete_row hide" data-url="/admin/merchantmanagement/delete/" data-name="email"><i class="glyphicon glyphicon-trash"></i></span>
													<span class="submit" data-url="/admin/merchantmanagement/add/contacts/"><i class="glyphicon glyphicon-ok"></i></span>
												</td>
											</tr>	
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			{$pagination}
		</div>
	</div>

	<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_delete" aria-hidden="true"></div>
	
</div>
</div>