<script type="text/javascript" src="/libraries/requirejs/require.js"></script>
<div class="wity-app wity-app-user wity-action-listing">
	<div class="row">
		<div class="col-md-12">						
			<table class="table table-hover">
				<thead>
					<tr>
						<th><a href="/admin/merchantmanagement/listing/id-{$id_sort}/{$subURL}"><i class="{$id_class}"></i> #</a></th>
						<th><a href="/admin/merchantmanagement/listing/nickname-{$nickname_sort}/{$subURL}"><i class="{$nickname_class}"></i> {lang nickname}</a></th>
						<th><a href="/admin/merchantmanagement/listing/email-{$nickname_sort}/{$subURL}"><i class="{$nickname_class}"></i> {lang email}</a></th>
						<th><a href="/admin/merchantmanagement/listing/created_date-{$created_date_sort}/{$subURL}"><i class="{$created_date_class}"></i> {lang register_time}</a></th>
						<th><a href="/admin/merchantmanagement/listing/last_activity-{$last_activity_sort}/{$subURL}"><i class="{$last_activity_class}"></i> {lang last_connection}</a></th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{for $count, $user in $users}
					<tr class="{if empty({$user.addresses})} danger{/if}">
						<td><span data-toggle="collapse" data-target="#row{$user.id}" class="black accordion-toggle" title="{lang edit}"><i class="glyphicon glyphicon-plus"></i></span></td>
						<td><strong>
							<a href="#" class="editable-data" data-name="name" data-type="text" data-pk="{$user.id_merchant}" data-url="/admin/merchantmanagement/edit/">	
							{$user.name}
							</a>
						</strong></td>
						<td>
							<a href="#" class="editable-data" data-name="email" data-type="text" data-pk="{$user.id}" data-url="/admin/merchantmanagement/edit/">	
							{$user.email}
							</a>
						</td>
						<td>{$user.created_date}</td>
						<td>{$user.last_activity}</td>
						<td>
							<a href="/admin/user/edit/{$user.id}" class="black" title="{lang edit}"><i class="glyphicon glyphicon-edit"></i></a>
							{if {$user.id} != $_SESSION['userid']}<span title="{lang article_delete}" class="link" data-link-modal="/v/admin/user/delete/{$user.id}" data-modal-container="modal_delete"><i class="glyphicon glyphicon-trash"></i></span>{/if}
							
						</td>				
					</tr>
					<tr>
						<td colspan="6" class="hiddenRow">
							<div class="row accordian-body collapse" id="row{$user.id}" style="background-color:#fff"> 
								<div class="col-md-7">
									<h4 style="text-align:center">Addresses</h4>
									<div id="msg_address_{$user.id}" class="alert hide fade in"></div>
									<table class="table table-striped table-hover">
										<thead>
											<tr>
												<th width="20%"><i class="{$id_class}"></i> {lang name}</th>
												<th width="30%"><i class="{$nickname_class}"></i> {lang address}</th>
												<th width="30%"><i class="{$nickname_class}"></i> {lang opening_hours}</th>
												<th colspan="2" width="20%"><i class="{$nickname_class}"></i> {lang tel}</th>
											</tr>
										</thead>						
										<tbody>
										{for $count, $address in $user.addresses}	
										<tr>
											<td><b>
											<a href="#" class="editable-data-popup" data-name="address_name" data-type="text" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.address_name}</a>
											</b></td>
											<td><a href="#" class="editable-data-popup" data-name="address" data-type="textarea" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.address}</a>
											</td>
											<td><a href="#" class="editable-data-popup" data-name="opening_hours" data-type="textarea" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.opening_hours}</a></td>
											<td colspan="2"><a href="#" class="editable-data-popup" data-name="tel" data-type="text" data-pk="{$address.id_address}" data-url="/admin/merchantmanagement/edit/">{$address.tel}</a></td>
										</tr>
										{/for}
										</tbody>
										<tr id="row_new_address_{$user.id}" >
											<td>
												<a href="#" class="new_address_{$user.id}" data-name="address_name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
											</td>
											<td>
												<a href="#" class="new_address_{$user.id}" data-name="address" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
											</td>
											<td>
												<a href="#" class="new_address_{$user.id}" data-name="opening_hours" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
											</td>
											<td>
												<a href="#" class="new_address_{$user.id}" data-name="tel" data-type="textarea" data-url="/admin/merchantmanagement/edit/" data-verif="required"></a>
											</td>
											<td>
												<button class="btn btn-primary" id="new_address_submit_{$user.id}" data-url="/admin/merchantmanagement/add/address/{$user.id_merchant}">Add</button>
											</td>
										</tr>	
										<script>
											require(['jquery', 'bootstrap3-editable', '../apps/merchantmanagement/admin/js/script'], function($) {
												$.fn.editable.defaults.mode = 'inline';
												$(document).ready(function() {
													declare({$user.id}, 'address');
												});
											});
										</script>
									</table>
								</div>
								<div class="col-md-5">
									<h4 style="text-align:center">Emails</h4>
									<div id="msg_email_{$user.id}" class="alert hide fade in"></div>
									<table class="table table-striped table-hover" id="table_email">
										<thead>
											<tr>
												<th width="40%"><i class="{$nickname_class}"></i> {lang name}</th>
												<th width="60%" colspan="2"><i class="{$nickname_class}"></i> {lang email}</th>
											</tr>
										</thead>						
										<tbody>
											{for $count, $mail in $user.contact_email}	
											<tr>
												<td>
													<a href="#" class="editable-data-popup" data-name="contacts_name" data-type="text" data-pk="{$mail.id_email}" data-url="/admin/merchantmanagement/edit/">
														{$mail.email_name}
													</a>
												</td>
												<td colspan="2">
													<a href="#" class="editable-data-popup" data-name="contacts_email" data-type="text" data-pk="{$mail.id_email}" data-url="/admin/merchantmanagement/edit/">	
														{$mail.email}
													</a>
												</td>
											</tr>
											{/for}	
											<tr id="row_new_email_{$user.id}" >
												<td>
													<a href="#" class="new_email_{$user.id}" data-name="contacts_name" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="required">
													</a>
												</td>
												<td width="40%">
													<a href="#" class="new_email_{$user.id}" data-name="contacts_email" data-type="text" data-url="/admin/merchantmanagement/edit/" data-verif="email">	
													</a>
												</td>
												<td>
													<button class="btn btn-primary" id="new_email_submit_{$user.id}" data-url="/admin/merchantmanagement/add/contacts/{$user.id_merchant}">Add</button>
												</td>
											</tr>	
											<script>
												require(['jquery', 'bootstrap3-editable', '../apps/merchantmanagement/admin/js/script'], function($) {
													$.fn.editable.defaults.mode = 'inline';
													$(document).ready(function() {
														declare({$user.id}, 'email');
													});
												});
											</script>
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
					{/for}
					{empty}
					<tr>
						<td colspan="6" class="text-center">{lang no_user_found}</td>
					</tr>
					{/empty}
				</tbody>
			</table>
			{$pagination}
		</div>
	</div>

	<div id="modal_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_delete" aria-hidden="true"></div>
</div>
</div>


