<html>
  <head>
   <title>Payment received for {$firstname} {$lastname}</title>
  </head>
  <body>
	Dear Merchant,
	<p>Congratulations, you have received a new order from GetTheDealNow.com. Please make sure that you request the following from the Client when he redeems the deal:</p>
	<p>Voucher Code: <b>{$voucher}</b><br>
	Customer Name: <b>{$firstname} {$lastname}</b><br>
	Item: <b>{$deal_name}</b></p>
	<p>Please note that this Voucher Code is only valid once.</p>
	<p>Thank you!<br>
	The GetTheDealNow Team<br>
	5265 0532</p>
  </body>
 </html>